@charset "utf-8";
/* CSS Document */
.comwidth{width:850px;margin:0 auto;}
	.right li{list-style:none;float:left;margin-left:25px;font-size:16px;}
.right ul{float:right;};
.header{height:50px;}
.left{float:left;}
.right{float:right;}
.newwd{float:left;line-height:45px;font-size:20px;}
.head{height:40px;}
.img{float:left;background:url(../imges/book.png) no-repeat;width:50px;height:50px;}
.img2{width:25px;height:25px;background:url(../imges/pp.png) no-repeat;float:left;}
.one{background:url(../imges/middle1.png) no-repeat 0 3px;height:500px;}
.cleaar{clear:both;}



.box{width:25%;height:170px;float:left;}
.imag-1-1{background:url(../imges/imag1-1.png) no-repeat;width:48px;height:44px;margin:0 auto;}

.p1{width:120px;margin:0 auto;}

.outer{width:200px;border-right:1px solid #999;height:60px;}
.book2{background:url(../imges/book2.png) no-repeat;width:100px;height:280px;margin:0 auto;}
.say{width:450px;font-size:28px;margin:0 auto;line-height:40px;}
.three{background:#CCC;}
.four{text-align:center;height:300px;}
.xsj{font-size:20px;}
.sh{font-size:14px;}
.bt1{background:url(../imges/more.png)no-repeat;width:18px;height:18px;margin-top:6px;}
.input1{background:#FFF;float:left;margin-left:40px;}

.bg20{width:170px;height:30px;background:#FFF;outline:#CCC 1px solid;}
.t1{border:none;}

.where li{list-style:none;width:170px;display:inline-block;margin-left:0px;}
.where li a:hover{background:#903;}
.where li a{text-decoration:none;width:170px;height:30px;display:inline-block;}
.where ul{width:170px;background:#999;margin-top: 0px;padding:0px;}

.five{height:440px;background:#FFF;}
.where{margin-top:40px;}
.tp1{width:25%;float:left;text-align:center;}
.bt8{width:150px;height:35px;background:#0CF;}
	
.m1{background:url(../imges/m1.png)-2px no-repeat;width:217px;height:320px;}

.six{height:380px;}
.le1{width:70%;float:left;background:url(../imges/le1.png) no-repeat;height:367px;}
.le2{width:30%;float:right;text-align:left;margin-top:100px;}
.moe{width:70px;height:25px;border:1px #000000 solid;margin-left:90px;}
.zyz{width:850px;height:220px;background:#CCC;text-align:center;}
.xsj{font-size:14px;}
.h2{margin-top:45px;}
.bg{width:850px;height:430px;background:#9CF;}
.left7{width:35%;background:#996;height:100%;float:left;}
.right7{width:60%; background:#069;height:100%;float:right;}
.one11{width:80%;}
.more3{width:16px;height:12px;}
.more2{float:right;margin-top: -20px;}
.box11{width:245px;height:57px;float:left;background:#903;}
.box22{width:245px;height:57px;float:right;background:#03F;}
.mid{height:20px;width:100%;}
.boxall{width:100%;height:120px;background:#0F3;}
.boxall1{width:100%;height:40px;background:#0F3;}
.white{width:100%;height:360px;background:#32363E;}
.include{width:60%;height:100px;margin:60 auto;text-align:center;color:#FFF;padding-top:35px;}
.ipt1{width:420px;height:36px;outline:none;}
.bt2{height:42px;background:#003;width:50px;outline:none;color:#CCC;}
.wrap5{width:480;height:45px;margin:0 auto;}
.footer{width:100%;height:50px;background:#00F;}
.bq{float:left;margin-left:20px;color:#FFF;font-size:12px;margin-top:20px;}
.tp{margin:0 auto;width:200px;}
