@charset "utf-8";
/* CSS Document */
.wrap{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.one{
	width:130px;
	height:90px;
	border:#F00 solid 1px;
	margin-right:auto;
	padding:20px;
}
.two{
	padding:20px;
	width:130px;
	height:80px;
	border:#F00 solid 1px;
	margin-right:auto;
	
}
.three{
	padding:20px;
	width:130px;
	height:20px;
	border:#F00 solid 1px;
	margin-right:auto;
}
.four{
	padding:20px;
	width:130px;
	height:180px;
	border:#F00 solid 1px;
	margin-right:0px;
}
@media screen and (max-width: 640px) {
  .wrap {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
      }
      .four {
        order: -1;
      }
    }