@charset "utf-8";
/* CSS Document */
.wrap{
	
	
	
	}


.wrap>table th{
	background:#009;
	
	
	}
.ctr{
	width:100px;
	position:absolute;
	bottom:-20px;
	left:290px;
	clear:both;
	
	
	
	
	
}
.wrap a{
	width:30px;
	height:30px;
	display:inline-block;
	text-decoration:none;
	
	
	
	}

form input{
	outline:none;
	margin-bottom:30px;
	margin-top:20px;
	}
form input:focus{
	width:300px;
	color:#963;
}
.ji{
	background:#CCC;
	}
.three{
	color:#F00;
}
.span333{
	top:20px;
	width:400px;
	height:90px;
	position:relative;
	overflow:hidden;
	
}
#span1{
	width:400px;
	height:90px;
	background:#C03;
	display:inline-block;
	
	
	
		
	}
#span2{
	width:400px;
	height:90px;
	background:#099;
	display:inline-block;
	
	
	
	}
#span3{
	width:400px;
	height:90px;
	background:#639;
	display:inline-block;
	
	
	}
.span11{
	
}
.kd{
	
	width:300%;
	height:100%;
	
	top:0px;
	left:0px;
	
	}
#span1:target~.kd{
    left: 0
}
#span1:target~.kd{
    left:-300px;
}
#span1:target~.kd{
    left:-600px;
}